body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #f00 url('/imgs/4.jpg') center top;
    background-repeat:repeat;
    background-attachment:fixed;
    background-size: 100% auto;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-img {
    background: #f00 url('/imgs/2.jpg') no-repeat center top;
    background-size: 100% auto;
    border-radius: 6px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.header-center {
  text-align: center;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.litle-header-center {
  text-align: center;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 40px;
}

.btn-danger{
    border: 0px;
    font-size: 24px;
}

.img
{


}