@{
    ViewBag.Title = "About";
}
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bL_T4Lr0uu8"></iframe>
</div>



<div class="row">
    <div class="col-md-7">
        <img src="~/imgs/1.jpg" class="img-rounded" />
    </div>
    <div class="col-md-5">
        <h2>Ut enim ad minima</h2>
        <h4>
            At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        </h4>
    </div>
</div>

<h3 class="litle-black-header-center">Ut enim ad minim veniam, quis nostrud exercitation ullamco</h3>

<div class="row">
        <div class="col-lg-7">
            <form class="form-horizontal">
                <h3>Заполни форму</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label" for="inputName">Имя</label><br />
                        <label class="control-label" for="inputGrowth">Рост</label><br />
                        <label class="control-label" for="inputAge">Возраст</label><br />
                        <label class="control-label" for="inputPhone">Номер телефона</label>   <br />                     
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="inputName" placeholder="Имя"><br />
                        <input type="text" id="inputGrowth" placeholder="Рост"><br />
                        <input type="text" id="inputAge" placeholder="Возраст"><br />
                        <input type="text" id="inputPhone" placeholder="Номер телефона"><br />
                    </div>
                </div>
                <span class="help-block">Прикерпи две фотографии.</span>
                <span class="help-block">В полный рост:</span>
                <span class="help-block">До плечей:</span>

                <button type="submit" class="btn btn-success btn-lg">Отправить</button>

            </form>
        </div>
        <div class="col-lg-5">
            <img src="~/imgs/3.jpg" class="img-rounded" />
        </div>

    </div>